{% extends 'MaxplayerFrontendBundle::frontend_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ require_js_initialize() }}
    <script type="text/javascript">require(['{{ modulePath }}'])</script>
{% endblock javascripts %}

{% block body %}
    <div id="container" class="container">
        <p>this is <b>{{ modulePath }}</b> module tester</p>
    </div>
{% endblock body %}