{% extends 'MaxplayerFrontendBundle::frontend_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ require_js_initialize() }}
    <script type="text/javascript">require(['{{ modulePath }}'])</script>
{% endblock javascripts %}

{% block body %}
    <p>this is <b>{{ modulePath }}</b> module tester</p>
{% endblock body %}