<div>
    <div>
        <p>Search:</p>
        <input type="text" class="js-input" value="">
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-4">
            <p>Found artists:</p>
            <ul class="js-guesser-artist"></ul>
        </div>
        <div class="col-md-4">
            <p>Found albums:</p>
            <ul class="js-guesser-album"></ul>
        </div>
        <div class="col-md-4">
            <p>Found tracks:</p>
            <ul class="js-guesser-track"></ul>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <p>Next song:</p>
            <button class="js-button-next">}}}</button>
        </div>
        <div class="col-md-6">
            <p>Now playing:</p>
            <p class="js-player"></p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-6">
            <p>Playset:</p>
            <ul class="js-playset"></ul>
        </div>
        <div class="col-md-6">
            <p>Playlist:</p>
            <ul class="col-md-6 js-playlist"></ul>
        </div>
    </div>
</div>
